<app-header></app-header>

<header class="container2 py-5">
    <div class="container px-4 px-lg-5 my-1">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">TurNow </h1>
            <p class="lead fw-normal text-white-50 mb-0">Tu Tienda Online</p>
        </div>
    </div>
</header>
<!-- <a href="modificar-producto"><button type="button" class="btn btn-light editar" >Agregar Producto</button></a> -->

 <!-- Section-->
 <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 justify-content-center">
            <div class="col mb-5" *ngFor=" let prod of producto">
                <div class="card h-50">
                    <!-- Product image-->
                    <div >
                        <img class="card-img-top imagenProd" src="{{prod.imagenProducto}}" alt="..." />


                    </div>
                    
                    <!-- <p>{{prod.imagenProducto}}</p> -->
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{prod.nombreProducto}}</h5>
                            <!-- Product price-->
                            <p>${{prod.precioUnitario}}</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/item/{{prod.codigodeBarras}}">Detalle</a></div>
                        <!-- <button class="btn btn-dark" *ngIf="isLogged" routerLink="/modificar-producto/{{prod.codigodeBarras}}"> <i class="bi bi-pencil-fill" ></i>modificar</button> -->
                        <!-- <button class="btn btn-dark" *ngIf="isLogged" (click)= 'eliminar(prod.codigodeBarras)'><i class="bi bi-trash" ></i>eliminar</button> -->
                        <p class="mt-4 blockquote-footer">ID Producto: {{prod.codigodeBarras}}</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<app-footer></app-footer>
<!-- Bootstrap core JS
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
Core theme JS
<script src="js/scripts.js"></script>-->