<!-- <app-header></app-header> -->
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <!-- <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{items.imagenProducto}}" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">ID Producto: {{items.codigodeBarras}}</div>
                        <h1 class="display-5 fw-bolder text-capitalize">{{items.nombreProducto}}</h1>
                        <div class="fs-5 my-4">
                           
                            <span class=" display-6 bold"><strong>${{items.precioUnitario}}</strong></span>
                        </div>
                        <p class="lead descripcion">{{items.descripcionProducto}}</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3 ms-1 p-1" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> 
                            <button class="btn boton flex-shrink-0 ms-5" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Agregar al carrito
                            </button>
                           
                        </div>
                        <a href="/" id="volver" class="btn btn-success mt-3">Volver</a>
                    </div>
                </div> -->
              
        
        <!-- Footer-->
        <footer class="py-4 container2">
            <div class="container cont"><p class="m-0 text-center text-white">Copyright &copy; TurNow</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>

